.list {
    width: 100%;
    > ul {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        > a {
            > li {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                margin-top: 5px;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;
                padding: 2px 5px;
                border-radius: 5px;
                &:hover {
                    background-color: #3c3c3c84;
                }
                &:hover {
                    position: relative;
                    z-index: 3;
                    opacity: 1;
                }
            }
        }
    }
}
.icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    background-color: #575757;
}
.like_Song {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
        background-color: #3c3c3c84;
    }
    > div {
        padding: 5px 0 0 5px;
    }
}
.title_List_Play {
    width: 80%;
    padding-left: 10px;
    line-height: 1.8;
    > h3 {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: #fff;
    }
    > span {
        display: flex;
        align-items: center;
        width: 99%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        font-size: 13px;
        color: #bab9b9;
        > p {
            color: #50b95d;
            transform: rotate(45deg);
            margin-right: 10px;
        }
        > svg {
            width: 5px;
            padding: 0 5px;
        }
    }
}

.create_plalist_music {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    position: absolute;
    > a {
        padding: 5px 20px;
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        font-weight: bold;
    }
}
