.container {
    position: relative;
}

.content_bo {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > h2 {
            margin-bottom: 15px;
            text-transform: capitalize;
            font-weight: bold;
            font-size: 2.7rem;
        }
        > p {
            font-weight: bold;
            color: #b9b9b9;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .content_onder {
        display: flex;
        margin-bottom: 20px;
    }
    .change {
        display: flex;
        flex-wrap: wrap;
    }
}
.List-Box {
    padding-top: 98px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgb(18, 18, 18) 100%);
    transition: 1000ms ease;
    height: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    > p {
        font-size: 3.2rem;
        font-weight: bold;
        letter-spacing: -1px;
    }
}
.song_items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0 0;
    padding: 0 20px 100px;
}

.hande_content,
.content_box {
    position: relative;
    width: 32%;
    height: 80px;
    display: flex;
    align-items: center;
    transition: 150ms ease-in-out;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.box,
.handle_box {
    position: relative;
    margin-right: 17.5px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgba(41, 41, 41, 0.485);
    margin-bottom: 20px;
    transition: 150ms ease-in-out;
    &:hover {
        transition: 150ms ease-in-out;
        background-color: rgba(166, 166, 166, 0.1490196078);
        .cricle_Green_Play {
            transition: 150ms ease-in-out;
            transform: translateY(0);
            opacity: 1;
        }
    }
    > a {
        width: 100%;
        height: 100%;
        .content_info {
            width: 209px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            align-items: start;
            .images,
            .cricle_image {
                width: 179px;
                height: 179px;
                border-radius: 5px;
                overflow: hidden;
                > img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .cricle_image {
                border-radius: 50%;
            }
            .info_art {
                width: 100%;
                > p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: bold;
                    margin-top: 5px;
                }
                > h3 {
                    margin-top: 15px;
                    overflow: hidden !important;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            > h2 {
                margin-top: 10px;
                white-space: nowrap;
                width: 100%;
            }
        }
    }
    .cricle_Green_Play {
        position: absolute;
        right: 10px;
        bottom: 100px;
        background-color: #1db954;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        opacity: 0;
        transform: scale(0.96) translateY(30px);
        box-shadow: 0px 2.9px 2.7px rgba(0, 0, 0, 0.16), 0px 7.2px 6.9px rgba(0, 0, 0, 0.228),
            0px 14.7px 14.2px rgba(0, 0, 0, 0.287), 0px 30.3px 29.2px rgba(0, 0, 0, 0.36),
            0px 83px 80px rgba(0, 0, 0, 0.48);
        transition: 150ms ease-in-out;

        &:hover {
            transform: scale(1);
            background-color: #00d95f;
        }
    }
}

.content_box {
    background-color: rgba(48, 48, 48, 0.7882352941);

    &:hover {
        transition: 200ms ease-in-out;
        background-color: #a6a6a667;
        .cricle_Green_Play {
            transition: 200ms ease-in-out;
            opacity: 1;
        }
    }
    .cricle_Green_Play {
        background-color: #1db954;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        opacity: 0;
        transform: scale(0.96);
        box-shadow: 0px 2.9px 2.7px rgba(0, 0, 0, 0.16), 0px 7.2px 6.9px rgba(0, 0, 0, 0.228),
            0px 14.7px 14.2px rgba(0, 0, 0, 0.287), 0px 30.3px 29.2px rgba(0, 0, 0, 0.36),
            0px 83px 80px rgba(0, 0, 0, 0.48);
        &:hover {
            transform: scale(1);
            background-color: #00d95f;
        }
    }
}

.hande_content,
.handle_box {
    background-color: #a6a6a667;
    .cricle_Green_Play {
        background-color: #1db954;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        opacity: 1;
        transform: scale(0.96);
        transition: 200ms ease-in-out;
        box-shadow: 0px 2.9px 2.7px rgba(0, 0, 0, 0.16), 0px 7.2px 6.9px rgba(0, 0, 0, 0.228),
            0px 14.7px 14.2px rgba(0, 0, 0, 0.287), 0px 30.3px 29.2px rgba(0, 0, 0, 0.36),
            0px 83px 80px rgba(0, 0, 0, 0.48);
        &:hover {
            transform: scale(1);
            background-color: #00d95f;
        }
    }
}

.content_info {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;

    > h2 {
        margin-left: 15px;
        font-size: 1.9rem;
        font-weight: bold;
        width: 45%;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .images {
        width: 80px;
        height: 100%;
        > img {
            box-shadow: 16px 0px 73px rgba(0, 0, 0, 0.6);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.error {
    position: fixed;
    top: 20px;
    margin: 0 0 0 300px;
    z-index: 99999;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    line-height: 1em;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease;
    transform: translateX(400px);

    > p {
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        white-space: nowrap;
    }
}

.title_country {
    margin: 0 0 10px 5px;
}
.container_playlist {
    display: flex;
    flex-wrap: wrap;
    .Playlist_content {
        width: 210px;
        margin: 0 16px 30px 0;
        background-color: rgb(35, 34, 34);
        padding: 15px 10px 20px;
        border-radius: 5px;
        transition: 100ms ease-in-out;
        &:hover {
            background-color: rgb(53, 53, 53);
            transition: 100ms ease-in-out;
        }
        > a {
            .content_info {
                display: flex;
                flex-direction: column;
                .images {
                    width: 180px;
                    height: 180px;
                    overflow: hidden;
                    border-radius: 5px;
                    > img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                > h2 {
                    width: 100%;
                    margin: 10px 0 0 10px;
                    white-space: nowrap;
                }
            }
        }
    }
}
